---
import type { PluginConfig } from "astro-plugin-media";
import type { HeroProps } from "@types";
type Props = HeroProps;
type APlayer = PluginConfig["aplayer"];

const { name, namePronunciation, namePronunciationAudio, specialty, summary } = Astro.props;
---
 <section id="top">
  <h1
    class="mb-3 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-3 md:text-9xl"
  >
    {name}
  </h1>
  {!namePronunciation ? "" : (
    <p
    class="mb-6 items-center font-sans-serif text-2xl font-regular text-white sm:text-5xl md:mb-6 md:text-4xl"
    >[{namePronunciation}]
    <audio
    controls
    preload="auto"
    src={namePronunciationAudio}
    class="inline-flex" />
    </p>
  )}
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-4xl md:text-5xl"
  >
    {specialty}
  </p>
  <p class="mb-1.5 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>
  </section>
